.dTable {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.dTableHeadRow {
  display: table-row;
}

.dTableRow {
  display: table-row;
}

.dTableRowGroup {
  display: table-row-group;
}

.dTableHeadCell {
  display: table-cell;
}

.dTableCell {
  display: table-cell;
}

